*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}



.grid_index {
    display: grid;
    grid-template-areas:"fotoCentral"
                        "redes"
                        "pie_de_pagina";
    grid-template-rows: 40% 30% 30%;
    grid-template-columns: 100%;
}

.grid_home {
    display: grid;
    grid-template-areas:"encabezado"
                        "barraNav"
                        "contenido_inicio"
                        "sponsors"
                        "pie_de_pagina";
    grid-template-rows: 10% 7% 33% 20% 30%;
    grid-template-columns:auto;   
}

.grid_iniciarSesion {
    display: grid;
    grid-template-areas:"encabezado"
                        "barraNav"
                        "formulario"
                        "pie_de_pagina";
    grid-template-rows: 11% 7% 53% 30%;
    grid-template-columns:100%; 
}

.grid_recuperarPassword {
    display: grid;
    grid-template-areas:"encabezado"
                        "barraNav"
                        "recuperarPassword"
                        "pie_de_pagina";
    grid-template-rows: 11% 4% 40% 40%;
    grid-template-columns:100%;
}

.grid_registro {
    display: grid;
    grid-template-areas:"encabezado"
                        "barraNav"
                        "registro"
                        "pie_de_pagina";
    grid-template-rows: 8% 4% 58% 30%;
    grid-template-columns:100%;
}

.grid_turnos {
    display: grid;
    grid-template-areas:"encabezado"
                        "barraNav"
                        "turnos"
                        "pie_de_pagina";
    grid-template-rows: 8% 1% 56% 35%;
    grid-template-columns: 100%;
}

.grid_productos {
    display: grid;
    grid-template-areas:"encabezado"
                        "barraNav"
                        "productos"
                        "pie_de_pagina";
    grid-template-rows: 15% 4% 46% 35%;
    grid-template-columns: 100%;
}

.grid_sucursales {
    display: grid;
    grid-template-areas:"encabezado"
                        "barraNav"
                        "sucursales"
                        "pie_de_pagina";
    grid-template-rows: 8% 1% 56% 35%;
    grid-template-columns: 100%;
}





/* ID */

#sponsors {
    font-family: 'Sofia Sans', sans-serif;
    grid-area: sponsors;
    text-align: center;
    background-color: rgb(107, 172, 209) ;
    font-size: 60%;
    padding-top: 20%;
}

#fotoCentral {
    grid-area: fotoCentral;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255),rgb(107, 172, 209)  ); 
}

#navegacion {
    grid-area: barraNav;
}

#footerArea {
    grid-area: pie_de_pagina;
    background-image: linear-gradient(to top, rgb(255, 255, 255),rgb(107, 172, 209)  );
    padding-top: 20%;
}

#productos {
    grid-area: productos;
}



/* SIZES */



.sizeIndex {
    width: 90%;
    padding-bottom: 45%;
    padding-top: 45%;
}

.sizeHome {
    font-size: 110% ;
    font-family: 'Jost', sans-serif;
}

.sizeLogoNav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.sizeLinkH {
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    color:black;
    font-size: 110%;
    transition: width 0.2s;
}

.sizeLinkH:hover {
    font-size: 115%;
}

.sizeMenu {
    font-size: 110%;
    text-decoration: none;
    color: black;
}

.sizeInput {
    text-align: center;
    width: 30%;
}

.sizeInputRP {
    text-align: center;
    width: 50%;
}

.sizeFotoSponsor1 {
    margin:2%;
    width: 25%;
    transition: width 0.2s;
}

.sizeFotoSponsor1:hover {
    width: 28%;
}

.sizeFotoSponsor2 {
    margin:2%;
    width: 20%;
    transition: width 0.2s;
}

.sizeFotoSponsor2:hover {
    width: 24%;
}

.sizeFotoSponsor3 {
    margin:2%;
    width: 28%;
    transition: width 0.2s;
}

.sizeFotoSponsor3:hover {
    width: 32%;
}

.sizeFooter {
    font-size: 70%;
}




/* PADDINGS */



.paddingTH{
    padding-top: 5%;
}

.paddingFU {
    padding-top: 10%;
    font-size: 80%;
    font-family: 'Sofia Sans', sans-serif;
    text-align: center;
}

.paddingForm {
    padding-top: 3%;
}

.paddingFormRP {
    padding-top: 2%;
}

.paddingFormR {
    padding-top: 2%;
}



/* BUTTONS */



.navegacion li a:hover {
    color: rgb(255, 255, 255);
}

.botonIngresar {
    background-color: rgb(49, 53, 53);   
}

.botonIngresar:hover {
    background-color:rgb(20, 20, 20);
}

.fa-instagram:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.fa-whatsapp:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.fa-facebook:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
}

.botonIniciarSesion {
    width: 15%;
    font-size: 80%;
}

.botonRegistro {
    width: 15%;
    font-size: 90%;
}

.botonRecuperar {
    width: 15%;
    font-size: 50%;
}



/* COLORES */



.fondo {
    background-image: linear-gradient(to bottom,rgb(255, 255, 255),rgb(107, 172, 209)  );
}

.colorRojo{
    color:rgb(190, 5, 5);
}

.colorAzul{
    text-decoration: none;
    color:rgb(27, 27, 207);
}

.colorNegro {
    color:black;
    margin: 1%;
}





/* FONTS */



.fontInicio {
    font-family: 'Jost', sans-serif;
    font-size: 125%;
}

.fontFooter {
    font-family: 'Yellowtail', cursive;
    font-size: 150%;
}

.subrayado {
    text-decoration: underline 1px black;
}

.subrayadoReg {
    padding-top: 3%;
    text-decoration: underline 1px black;
}




/* AREAS GRID  Y VARIOS*/



.areaH {
    grid-area: encabezado;
    flex-direction: row;
    align-items: center;
    font-family: 'Sofia Sans', sans-serif; 
}

.formIniciarSesion {
    grid-area: formulario;
    text-align: center;
    background-color: rgb(107, 172, 209) ;
    font-family: 'Jost', sans-serif;
    font-size: 65%;
    padding-top: 15%;
    padding-bottom: 10%;
    
}

.formRecuperarPassword {
    grid-area: recuperarPassword;
    text-align: center;
    background-color: rgb(107, 172, 209) ;
    font-family: 'Jost', sans-serif;
    font-size: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    
}

.formRegistro {
    grid-area: registro;
    text-align: center;
    background-color: rgb(107, 172, 209) ;
    font-family: 'Jost', sans-serif;
    font-size: 70%;
    padding-top: 15%;
    padding-bottom: 10%;
    
}

.contenidoInicio {
    grid-area: contenido_inicio;
    padding: 10%;
    background-color: rgb(107, 172, 209) ;
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
}

.navegacion {
    display: flex;
    justify-content: center;
    font-family: 'Sofia Sans', sans-serif;  
    color: black; 
    background-color: rgb(107, 172, 209);
    width: 100%;
    font-size: 52%;
}

.centrarLogo{
    display: flex;
    justify-content: center;
}

.productos {
    font-family: 'Jost', sans-serif;
    text-align: center;
    background-color: rgb(107, 172, 209) ;
    font-size: 100%;
    padding: 15%;
    padding-top: 30%;
}

.textoPages {
    padding: 10%;
    font-size: 100%;
    font-family: 'Jost', sans-serif;
}

.textoPagesR {
    padding: 8%;
    font-size: 100%;
    font-family: 'Jost', sans-serif;
}

.textoPagesRP {
    padding: 8%;
    font-size: 100%;
    font-family: 'Jost', sans-serif;
}

.footerF {
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 20%;
    font-size: 75%;
    
}





/* Vista Tablet */



@media only screen and (min-width: 768px) {

    .grid_index {
        grid-template-rows: 50% 25% 25%;
        grid-template-columns: 100%;
        }

    .grid_home {
        grid-template-rows: 7.5% 1% 53.05% 40%;
        grid-template-columns: 100%;   
    } 
    
    
    .grid_registro {
        grid-template-rows: 7.5% 1% 53.05% 40%;
        grid-template-columns: 100%;
    }

    .grid_recuperarPassword {
        grid-template-rows: 7.5% 1% 53.05% 40%;
        grid-template-columns: 100%;
    }

    .grid_turnos {
        grid-template-rows: 8% 1% 56% 35%;
        grid-template-columns: 100%;
    }
    
    .grid_productos {
        grid-template-rows: 8% 1% 56% 35%;
        grid-template-columns: 100%;
    }

    .grid_sucursales {
        grid-template-rows: 8% 1% 56% 35%;
        grid-template-columns: 100%;
    }

    /* ID */
    
    #sponsors {
        font-family: 'Sofia Sans', sans-serif;
        grid-area: sponsors;
        text-align: center;
        background-color: rgb(107, 172, 209) ;
        font-size: 120%;
    }
    
    #navegacion {
        grid-area: barraNav;
    }
    
    
    
    
    /* SIZES */

    .sizeIndex {
        width: 100%;
    }
    
    .sizeHome {
        font-size: 280% ;
        font-family: 'Jost', sans-serif;
    }
    
    .sizeLogoNav {
        width: 80%;
        display: flex;
        justify-content: center;
    }
    
    .sizeLinkH {
        text-decoration: none;
        font-family: 'Jost', sans-serif;
        color:black;
        font-size: 110%;
        transition: width 0.2s;
    }
    
    .sizeLinkH:hover {
        font-size: 115%;
    }
    
    .sizeMenu {
        font-size: 110%;
        text-decoration: none;
        color: black;
    }
    
    .sizeFotoSponsor1 {
        margin:1%;
        width: 25%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor1:hover {
        width: 30%;
    }
    
    .sizeFotoSponsor2 {
        margin:1%;
        width: 20%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor2:hover {
        width: 25%;
    }
    
    .sizeFotoSponsor3 {
        margin:1%;
        width: 25%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor3:hover {
        width: 30%;
    }
    
    .sizeIndex {
        width: 100%;
        padding-top:40%;
        padding-bottom:40%;
    }

    .sizeInput {
        text-align: center;
        width: 25%;
    }

    .sizeInputRP {
        text-align: center;
        width: 40%;
    }

    .sizeFooter {
        font-size: 100%;
    }
    
    
    
    
    /* PADDINGS */
    


    .paddingTH{
        padding-top: 3%;
    }
    
    .paddingFU {
        padding-top: 10%;
        font-size: 80%;
        font-family: 'Sofia Sans', sans-serif;
        text-align: center;
    }
    
    .paddingForm {
        padding-top: 2%;
    }
    
    .paddingFormR {
        padding-top: 2%;
    }



    
    /* BUTTONS */
    
    
    .navegacion li a:hover {
        color: rgb(255, 255, 255);
    }
    
    .botonInicio:hover {
        background-color: rgb(49, 53, 53);
    }
    
    .botonIngresar {
        background-color: rgb(49, 53, 53);   
    }
    
    .botonIngresar:hover {
        background-color:rgb(20, 20, 20);
    }

    .botonRecuperar {
        width: 15%;
        font-size: 80%;
    }
    
    .fa-instagram:hover {
        background-color: rgb(255, 255, 255);
        border-radius: 100%;
    }
    
    .fa-whatsapp:hover {
        background-color: rgb(255, 255, 255);
        border-radius: 100%;
    }
    
    .fa-facebook:hover {
        background-color: rgb(255, 255, 255);
        border-radius: 100%;
    }
    
    
    
    
    /* COLORES */
    
    .colorRojo{
        color:rgb(190, 5, 5);
    }
    
    .colorAzul{
        text-decoration: none;
        color:rgb(27, 27, 207);
    }
    
    .colorNegro{
        color:black;
        margin:0.5%;
    }
    
    .fondo {
        background-image: linear-gradient(to bottom,rgb(255, 255, 255),rgb(107, 172, 209)  );
    }
    




    /* FONTS */

    .fontFooter {
        font-family: 'Yellowtail', cursive;
        font-size: 150%;
    }

    .fontInicio {
        font-family: 'Jost', sans-serif;
        font-size: 300%;
    }

    .subrayado {
        text-decoration: underline 1px black;
    }



    /* AREAS GRID */



    .navegacion {
        display: flex;
        justify-content:space-around;
        align-items:center;
        font-family: 'Sofia Sans', sans-serif;  
        color: black; 
        background-color: rgb(107, 172, 209);
        width: 100%;
        font-size: 22px;
    }
    
    .formIniciarSesion {
        grid-area: formulario;
        text-align: center;
        background-color: rgb(107, 172, 209) ;
        font-family: 'Jost', sans-serif;
        font-size: 90%;
        padding-top: 15%;
        padding-bottom: 5%;
        
    }
    .contenidoInicio {
        grid-area: contenido_inicio;
        padding: 15%;
        background-color: rgb(107, 172, 209) ;
        text-align: center;
        font-family: 'Sofia Sans', sans-serif;
    }
    
    .footerF {
        justify-content: center;
        text-align: center;
        height: 20%;
        padding-top: 10%;
        padding-bottom: 5%;
        font-size: 90%;
        
    }
    
    .footerIndex {
        grid-area: redes;
        background-color: rgb(107, 172, 209);
    }

    .textoIniciarSesion {
        padding: 10%;
        font-size: 150%;
        font-family: 'Jost', sans-serif;
    }

    .productos {
        font-family: 'Sofia Sans', sans-serif;
        text-align: center;
        background-color: rgb(107, 172, 209) ;
        font-size: 60%;
        padding-top: 20%;
    }
}







/* Vista Desktop */



@media only screen and (min-width: 1024px) {

    .grid_index {
        grid-template-rows: 40% 30% 30%;
    }

    .grid_home {
        grid-template-rows:  8.32% 1% 28% 25% 30%;
    }
    
    .grid_iniciarSesion {
        grid-template-rows: 9.90% 1% 56% 30%;
    }
    
    .grid_registro {
        grid-template-rows: 7.5% 1% 53.05% 40%;
        grid-template-columns: 100%;
    }

    .grid_recuperarPassword {
        grid-template-rows: 11% 1% 48.2% 40%;
    }

    .grid_turnos {
        grid-template-rows: 8% 1% 56% 35%;
        grid-template-columns: 100%;
    }
    
    .grid_productos {
        grid-template-rows: 8% 1% 56% 35%;
        grid-template-columns: 100%;
    }

    .grid_sucursales {
        grid-template-rows: 8% 1% 56% 35%;
        grid-template-columns: 100%;
    }
    
    /* ID */
    
    #sponsors {
        font-family: 'Sofia Sans', sans-serif;
        grid-area: sponsors;
        text-align: center;
        background-color: rgb(107, 172, 209) ;
        font-size: 100%;
    }
    
    #footerArea {
        grid-area: pie_de_pagina;
        background-image: linear-gradient(to top, rgb(255, 255, 255),rgb(107, 172, 209)  );
        padding: 10%;
    }
    
    #navegacion {
        grid-area: barraNav;
    }
    
    
    /* SIZES */


    .sizeIndex {
        width: 100%;
        padding:7%
    }
    
    .sizeHome {
        font-size: 280% ;
        font-family: 'Jost', sans-serif;
    }
    
    .sizeLogoNav {
        width: 45%;
        display: flex;
        justify-content: center;
    }
    
    .sizeLinkH {
        text-decoration: none;
        font-family: 'Jost', sans-serif;
        color:black;
        font-size: 110%;
        transition: width 0.2s;
    }
    
    .sizeLinkH:hover {
        font-size: 115%;
    }
    
    .sizeMenu {
        font-size: 110%;
        text-decoration: none;
        color: black;
    }
    
    .sizeFotoSponsor1 {
        margin:1%;
        width: 20%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor1:hover {
        width: 26%;
    }
    
    .sizeFotoSponsor2 {
        margin:1%;
        width: 15%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor2:hover {
        width: 20%;
    }
    
    .sizeFotoSponsor3 {
        margin:1%;
        width: 20%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor3:hover {
        width: 26%;
    }

    .sizeInputRP {
        text-align: center;
        width: 25%;
    }

    .sizeFooter {
        font-size: 120%;
    }
    
    
    
    
    
    /* PADDINGS */
    
    .paddingTH{
        padding-top: 3%;
    }
    
    .paddingFU {
        padding-top: 15%;
        font-family: 'Sofia Sans', sans-serif;
        text-align: center;
    }

    .paddingForm {
        padding-top: 2%;
    }
    
    .paddingFormR {
        padding-top: 2%;
    }

    .paddingFormReg {
        padding-bottom: 2%;
    }
    
    
    
    /* BUTTONS */
    
    
    .navegacion li a:hover {
        color: rgb(255, 255, 255);
    }
    
    .botonIngresar {
        background-color: rgb(49, 53, 53);   
    }
    
    .botonIngresar:hover {
        background-color:rgb(20, 20, 20);
    }

    .botonRecuperar {
        width: 9%;
        font-size: 80%;
    }

    .botonRegistro {
        width: 10%;
        font-size: 90%;
    }
    
    .fa-instagram:hover {
        background-color: rgb(255, 255, 255);
        border-radius: 100%;
    }
    
    .fa-whatsapp:hover {
        background-color: rgb(255, 255, 255);
        border-radius: 100%;
    }
    
    .fa-facebook:hover {
        background-color: rgb(255, 255, 255);
        border-radius: 100%;
    }
    
    
    
    /* ESTILOS Y COLORES */
    
    .colorRojo{
        color:rgb(190, 5, 5);
    }
    
    .colorAzul{
        text-decoration: none;
        color:rgb(27, 27, 207);
    }
    
    .colorNegro{
        color:black;
        margin:0.5%;
    }
    
    .fondo {
        background-image: linear-gradient(to bottom,rgb(255, 255, 255),rgb(107, 172, 209)  );
    }
    
    .subrayadoR {
        text-decoration: underline 1px black;
        padding-bottom: 3%;
    }
    
    .logoIndex {
        display: flex;
        width: 100%;
        padding: 20%;
    }

    .navegacion {
        display: flex;
        justify-content:space-around;
        align-items:center;
        font-family: 'Sofia Sans', sans-serif;  
        color: black; 
        background-color: rgb(107, 172, 209);
        width: 100%;
        font-size: 22px;
    }
    
    .contenidoInicio {
        grid-area: contenido_inicio;
        padding: 15%;
        background-color: rgb(107, 172, 209) ;
        text-align: center;
        font-family: 'Sofia Sans', sans-serif;
    }
    
    .footerIndex {
        grid-area: redes;
        background-color: rgb(107, 172, 209);
    }

    .footerF {
        justify-content: center;
        text-align: center;
        height: 20%;
        padding: 10%;
        font-size: 100%;
    }

    .fontFooter {
        font-family: 'Yellowtail', cursive;
        font-size: 150%;
    }

    .formIniciarSesion {
        grid-area: formulario;
        text-align: center;
        background-color: rgb(107, 172, 209) ;
        font-family: 'Jost', sans-serif;
        font-size: 100%;
        padding: 10%;
    }

    .formRegistro {
        grid-area: registro;
        text-align: center;
        width: 100%;
        background-color: rgb(107, 172, 209) ;
        font-family: 'Jost', sans-serif;
        font-size: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
        
    }

    .areaH {
        grid-area: encabezado;
        flex-direction: row;
        align-items: center;
        font-family: 'Sofia Sans', sans-serif; 
    }

    .textoPagesR {
        padding-top:5%;
        padding-bottom: 6%;
        font-size: 100%;
        font-family: 'Jost', sans-serif;
    }

    .textoPagesRP {
        padding-top:8%;
        padding-bottom: 6%;
        font-size: 100%;
        font-family: 'Jost', sans-serif;
    }

    .productos {
        font-family: 'Sofia Sans', sans-serif;
        text-align: center;
        background-color: rgb(107, 172, 209) ;
        font-size: 60%;
        padding-top: 20%;
    }
}




















