*{
    padding:0%;
    margin:0%;
    box-sizing:border-box;
    text-decoration: none;
    list-style-type: none;
    color: black;
    font-family: 'Raleway', sans-serif;
}

form {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 7%;
}

form h2{
    padding-bottom: 5%
}

form ul a {
    padding:10px;
}

.sizeMenu {
    font-size: 130%;
    text-decoration: none;
    color: black;
}

.sizeHome {
    font-size: 260%;
}

.sizeIndex {
    width: 100%;
}

.sizeReg{
    padding-top: 8%;
    font-size: 300%;
}

.sizeFoto {
    width: 40%;
}

.botonInicioI {
    font-size: 80%;
    padding-top:10%;
    padding-bottom:10%; 
}

.sizeFotoSponsor1 {
    width: 18%;
    transition: width 0.2s;
}

.sizeFotoSponsor1:hover {
    width: 22%;
}

.sizeFotoSponsor2 {
    width: 14%;
    transition: width 0.2s;
}

.sizeFotoSponsor2:hover {
    width: 18%;
}

.sizeFotoSponsor3 {
    width: 19%;
    transition: width 0.2s;
}

.sizeFotoSponsor3:hover {
    width: 23%;
}

.fondoH {
    background-image: linear-gradient(to bottom,rgb(255, 255, 255),rgb(107, 172, 209)  );
}

.fondoI {
    background-image: radial-gradient(rgb(161, 235, 111),rgba(149, 184, 84, 0.651)  );
}

.fondoP {
    background-image: radial-gradient(rgb(255, 255, 255),rgb(255, 166, 0)  );
}

.fondoR {
    background-image: radial-gradient(rgb(255, 255, 255),rgb(247, 13, 13)  );
}

.fondoT {
    background-image: radial-gradient(rgb(255, 255, 255),rgb(255, 238, 0)  );
}

.paddingI {
    padding-top: 200%;
}

.paddingP {
    padding: 2%;
    font-size: 100%;  
}

.footerH {
    text-decoration: none;
    padding: 5%;
}

.botonInicio {
    color:white;
    background-color: rgb(0, 0, 0);   
}

.botonInicio:hover {
    background-color:rgb(255, 255, 255);
}

.colorRojo{
    color:rgb(190, 5, 5);
}

.colorAzul{
    text-decoration: none;
    color:rgb(27, 27, 207);
}

.paddingB {
    padding-bottom: 40px;
}

.paddingT {
    padding-top: 40px;
}

/* Extra Small - Small devices */


@media screen and (max-width: 767px) {
    
    .sizeHome {
        font-size: 900%;
    }

    .sizeReg{
        padding-top: 8%;
    }

    .sizeMenu {
        text-decoration: none;
        color:black
    }

    .sizeFoto {
        width: 70%;
    }

    .sizeIndex {
        width: 100%;
        padding-top:40%;
        padding-bottom:40%;
    }
    
    .botonInicioI {
        padding-top:10%;
        padding-bottom:10%; 
    }

    .botonInicio {
        color:white;
        background-color: rgb(0, 0, 0);
        font-size: 70%;
    }

    .sizeFotoSponsor1 {
        width: 28%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor1:hover {
        width: 32%;
    }
    
    .sizeFotoSponsor2 {
        width: 24%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor2:hover {
        width: 28%;
    }
    
    .sizeFotoSponsor3 {
        width: 29%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor3:hover {
        width: 33%;
    }

    .paddingP {
        padding: 4%;
        font-size: 70%;  
    }
    
    .footerH {
        text-decoration: none;
        padding: 8%;
        font-size: 80%;
    }

    .footerI {
        padding-top: 35%;
        padding-bottom: 25%;
        font-size: 50%;
    }
}

/*Medium - Large devices */

@media screen and (min-width: 768px) {

    .sizeHome {
        font-size: 900%;
    }

    .sizeReg{
        padding-top: 8%;
    }

    .sizeMenu {
        text-decoration: none;
        color:black
    }

    .sizeFoto {
        width: 70%;
    }

    .sizeIndex {
        width: 100%;
        padding-top: 3%;
        padding-bottom: 5%;
    }
    
    .botonInicioI {
        padding-top:7%;
        padding-bottom: 5%; 
    }

    .botonInicio {
        color:white;
        background-color: rgb(0, 0, 0);
        font-size: 100%;
    }

    .sizeFotoSponsor1 {
        width: 28%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor1:hover {
        width: 32%;
    }
    
    .sizeFotoSponsor2 {
        width: 24%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor2:hover {
        width: 28%;
    }
    
    .sizeFotoSponsor3 {
        width: 29%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor3:hover {
        width: 33%;
    }

    .paddingP {
        padding: 4%;
        font-size: 70%;  
    }
    
    .footerH {
        text-decoration: none;
        padding: 8%;
        font-size: 80%;
    }

    .footerI {
        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 80%;
    }
}

