*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
    text-decoration: none;
    list-style-type: none;
    color: black;
}


header {
    grid-area: encabezado;
    display: flex;
}

header nav{
    width: 75%;
    display: flex;
    justify-content: center;
    background-color: rgb(238, 151, 20);
}

section {
    grid-area: contenido_principal;
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    padding: 200px;
    text-align: center;
    background-color: rgb(238, 216, 20);
}

.fotosIndex{
    width: 400px;
    height: 120px;
    flex-direction: row;
    align-items: center;   
}

#sponsors {
    padding: 5%;
    grid-area: sponsors;
    text-align: center;
    background-color: rgb(238, 151, 20);
}


footer {
    font-family: 'Raleway', sans-serif;
    background-color:rgb(238, 216, 20);
    grid-area: pie_de_pagina;
    display: flex;
    height: 100%;
    justify-content: center;
    text-align: center;
}

footer ul {
    padding: 5%;
    align-items: center;
    justify-content: center;
}

.navegacion {
    display:flex;
    justify-content:space-around;
    align-items:center;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    font-size: 25px;
    border-bottom:10px;
}

.navegacion li a:hover {
    background-color: rgb(183, 245, 245);
}

.botonInicio { 
    font-size: 28px;
    display: flex;
    justify-content: center;
}

.botonInicio:hover {
    background-color: rgb(49, 53, 53);
}

.botonIngresar {
    background-color: rgb(49, 53, 53);   
}

.botonIngresar:hover {
    background-color:rgb(20, 20, 20);
}

.colorRojo{
    color:rgb(190, 5, 5);
}

.colorAzul{
    text-decoration: none;
    color:rgb(27, 27, 207);
}

.paddingB {
    padding-bottom: 40px;
}

.paddingT {
    padding-top: 40px;
}

.grid_home {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:"encabezado"
                        "contenido_principal"
                        "sponsors"
                        "pie_de_pagina"
}