.centrarLogo{
    display: flex;
    justify-content: center;
}

.productos {
    font-family: 'Jost', sans-serif;
    text-align: center;
    background-color: map-get($paleta_de_colores , sexto);
    font-size: 100%;
    padding: 15%;
}

.textoPages {
    padding: 10%;
    font-size: 100%;
    font-family: 'Jost', sans-serif;
}

.textoPagesR {
    padding: 10%;
    font-size: 75%;
    font-family: 'Jost', sans-serif;
}

.textoPagesReg {
    padding-top: 10%;
    padding-bottom: 6%;
    font-size: 95%;
    font-family: 'Jost', sans-serif;
}

.ingresar_email {
    font-size: 100%;
}

.text_registro {
    font-size: 90%;
    padding-top: 4%; 
}

.footerF {
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 20%;
    font-size: 75%;   
}