.centrarLogo{
    display: flex;
    justify-content: center;
}

.productos {
    text-align: center;
    font-size: 100%;
    padding: 15%;
}

.textoPages {
    padding: 10%;
    font-size: 100%;
    font-family: 'Jost', sans-serif;
}

.textoPagesR {
    padding: 10%;
    font-size: 75%;
}

.texto_productos {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 120%;
}

.textoProductos {
    padding-top: 3%;
    font-size: 100%;
}


.textoPagesReg {
    padding-top: 10%;
    padding-bottom: 6%;
    font-size: 95%;
    font-family: 'Jost', sans-serif;
}

.ingresar_email {
    font-size: 100%;
}

.text_registro {
    font-size: 90%;
    padding-top: 4%; 
}

.footerF {
    justify-content: center;
    text-align: center;
    padding-top: 10%;
    padding-bottom: 20%;
    font-size: 75%;   
}