.grid_home {
    display: grid;
    grid-template-areas:"encabezado"
                        "contenido_inicio"
                        "carousel"
                        "sponsors"
                        "pie_de_pagina";
    grid-template-rows: 10% 30% 20% 20% 30%;
    grid-template-columns:auto;   
}

.grid_index {
    display: grid;
    grid-template-areas:"encabezado"
                        "textoIndex"
                        "formulario"
                        "pie_de_pagina";
    grid-template-rows: 11% 20% 50% 30%;
    grid-template-columns:100%; 
}

.grid_recuperarPassword {
    display: grid;
    grid-template-areas:"encabezado"
                        "recuperar"
                        "pie_de_pagina";
    grid-template-rows: 10% 55% 40%;
    grid-template-columns:100%;
}

.grid_registro {
    display: grid;
    grid-template-areas:"encabezado"
                        "registro"
                        "pie_de_pagina";
    grid-template-rows: 100% 100% 100%;
    grid-template-columns:100%;
}

.grid_turnos {
    display: grid;
    grid-template-areas:"encabezado"
                        "turnos"
                        "pie_de_pagina";
    grid-template-rows: 8% 56% 35%;
    grid-template-columns: 100%;
}

.grid_repuestos {
    display: grid;
    grid-template-areas:"encabezado"
                        "productos"
                        "pie_de_pagina";
    grid-template-rows: 15% 46% 35%;
    grid-template-columns: 100%;
}

.grid_carrito {
    display: grid;
    grid-template-areas:"encabezado"
                        "carrito"
                        "pie_de_pagina";
    grid-template-rows: 15% 60% 35%;
    grid-template-columns: 100%;
}

.grid_sucursales {
    display: grid;
    grid-template-areas:"encabezado"
                        "sucursales"
                        "pie_de_pagina";
    grid-template-rows: 15% 50% 35%;
    grid-template-columns: 100%;
}

/* ID */


#sponsors {
    font-family: 'Sofia Sans', sans-serif;
    grid-area: sponsors;
    text-align: center;
    font-size: 60%;
    padding-top: 1%;
    background-color: rgb(12, 12, 12);
}

#fotoCentral {
    grid-area: fotoCentral;
}

#footerI {
    grid-area: pie_de_pagina;
    padding-top: 1.5%;
}

#footerArea {
    grid-area: pie_de_pagina;
    padding-top: 10%;
    background-color: rgb(12, 12, 12);
}

#productos {
    grid-area: productos;
    font-family: 'Jost', sans-serif;
}


/* AREAS GRID */

.encabezado {
    grid-area: encabezado;
}

.formIndex {
    grid-area: formulario;
    text-align: center;
    font-family: 'Jost', sans-serif;
    font-size: 65%;
    padding-bottom: 10%;
    
}

.formRecuperarPassword {
    grid-area: recuperar;
    text-align: center;
    background-color: rgb(80,80,80);
    font-family: 'Jost', sans-serif;
    padding-top: 15%;
    padding-bottom: 10%;
}

.formRegistro {
    grid-area: registro;
    text-align: center;
    background-color: rgb(80,80,80);
    font-family: 'Jost', sans-serif;
    font-size: 70%;
    padding-top: 10%;
}

.sucursales{
    grid-area: sucursales;
}

.contenidoInicio {
    grid-area: contenido_inicio;
    padding: 10%;
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
}
