.grid_index {
    display: grid;
    grid-template-areas:"fotoCentral"
                        "redes"
                        "pie_de_pagina";
    grid-template-rows: 40% 30% 30%;
    grid-template-columns: 100%;
}

.grid_home {
    display: grid;
    grid-template-areas:"encabezado"
                        "contenido_inicio"
                        "sponsors"
                        "pie_de_pagina";
    grid-template-rows: 10% 30% 20% 30%;
    grid-template-columns:auto;   
}

.grid_iniciarSesion {
    display: grid;
    grid-template-areas:"encabezado"
                        "formulario"
                        "pie_de_pagina";
    grid-template-rows: 11% 50% 30%;
    grid-template-columns:100%; 
}

.grid_recuperarPassword {
    display: grid;
    grid-template-areas:"encabezado"
                        "recuperar"
                        "pie_de_pagina";
    grid-template-rows: 10% 55% 40%;
    grid-template-columns:100%;
}

.grid_registro {
    display: grid;
    grid-template-areas:"encabezado"
                        "registro"
                        "pie_de_pagina";
    grid-template-rows: 10% 50% 30%;
    grid-template-columns:100%;
}

.grid_turnos {
    display: grid;
    grid-template-areas:"encabezado"
                        "turnos"
                        "pie_de_pagina";
    grid-template-rows: 8% 56% 35%;
    grid-template-columns: 100%;
}

.grid_productos {
    display: grid;
    grid-template-areas:"encabezado"
                        "productos"
                        "pie_de_pagina";
    grid-template-rows: 15% 46% 35%;
    grid-template-columns: 100%;
}

.grid_sucursales {
    display: grid;
    grid-template-areas:"encabezado"
                        "sucursales"
                        "pie_de_pagina";
    grid-template-rows: 15% 50% 35%;
    grid-template-columns: 100%;
}

/* ID */


#sponsors {
    font-family: 'Sofia Sans', sans-serif;
    grid-area: sponsors;
    background-color:map-get($paleta_de_colores , sexto);
    text-align: center;
    font-size: 60%;
    padding-top: 1%;
}

#fotoCentral {
    grid-area: fotoCentral;
    background-image: map-get($paleta_de_colores , primero);
}

#footerArea {
    grid-area: pie_de_pagina;
    background-image: map-get($paleta_de_colores , segundo);
    padding-top: 10%;
}

#productos {
    grid-area: productos;
}


/* AREAS GRID */

.encabezado {
    grid-area: encabezado;
}

.formIniciarSesion {
    grid-area: formulario;
    text-align: center;
    background-color:map-get($paleta_de_colores , sexto);
    font-family: 'Jost', sans-serif;
    font-size: 65%;
    padding-top: 15%;
    padding-bottom: 10%;
    
}

.formRecuperarPassword {
    grid-area: recuperar;
    text-align: center;
    background-color: map-get($paleta_de_colores , sexto);
    font-family: 'Jost', sans-serif;
    padding-top: 15%;
    padding-bottom: 10%;
}

.formRegistro {
    grid-area: registro;
    text-align: center;
    background-color:map-get($paleta_de_colores , sexto);
    font-family: 'Jost', sans-serif;
    font-size: 70%;
    padding-top: 15%;
    padding-bottom: 10%;
    
}

.sucursales{
    grid-area: sucursales;
}

.contenidoInicio {
    grid-area: contenido_inicio;
    padding: 10%;
    background-color:map-get($paleta_de_colores , sexto);
    text-align: center;
    font-family: 'Sofia Sans', sans-serif;
}

.footerIndex2 {
    grid-area: pie_de_pagina;
    background-color:map-get($paleta_de_colores , segundo);
}

.footerIndex1 {
    grid-area: redes;
    background-color:map-get($paleta_de_colores , sexto);
}
