.paddingTH{
    padding-top: 3%;
}

.paddingFU {
    padding-top: 10%;
    font-size: 80%;
    font-family: 'Sofia Sans', sans-serif;
    text-align: center;
}

.paddingForm {
    padding-top: 7%;
}

.padding_registro {
    padding-top: 5%;
}

.padding_turnos {
    padding-top: 9%;
    size: 1px;
}