.paddingTH{
    padding-top: 3%;
}

.paddingFU {
    padding-top: 10%;
    font-size: 80%;
    font-family: 'Sofia Sans', sans-serif;
    text-align: center;
}

.paddingForm {
    padding-top: 5%;
}

.padding_registro {
    padding-top: 5%;
}

.padding_turnos {
    padding-top: 9%;
    size: 1px;
}

.padding_sucursales{
    padding-top: 7%;
    padding-bottom: 4%;
}

.padding_sucursales_titulo{
    font-size: 140%;
    padding-top: 10%;
}

.texto_sucursales {
    font-size: 80%;
    padding-bottom: 10%;
    padding-top:10%;
}

