.paddingTH{
    padding-top: 5%;
}

.paddingFU {
    padding-top: 10%;
    font-size: 80%;
    font-family: 'Sofia Sans', sans-serif;
    text-align: center;
}

.paddingForm {
    padding-top: 3%;
}

.paddingFormRP {
    padding-top: 2%;
}

.paddingFormR {
    padding-top: 2%;
}
