/* COLORES */



.colorNavBar{
    background-color: rgb(12, 12, 12);
}

.colorRojo{
    color: map-get($paleta_de_colores , cuarto);
}

.colorAzul{
    text-decoration: none;
    color: map-get($paleta_de_colores , quinto);
}

.colorNegro {
    color: map-get($paleta_de_colores , tercero);
    margin: 1%;
}

.sinDetalles {
    text-decoration: none;
    color: map-get($paleta_de_colores, tercero );
}

.sinDetalles:hover {
    color:map-get($paleta_de_colores, septimo )
}

.sizeLogo {
    width: 100%;
}


/* FONTS */



.fontInicio {
    font-family: 'Jost', sans-serif;
    font-size: 125%;
}

.fontFooter {
    font-family: 'Yellowtail', cursive;
    font-size: 150%;
    padding-bottom: 1%;
    color: map-get($paleta_de_colores , septimo);
}

.fontFooterI {
    font-family: 'Yellowtail', cursive;
    font-size: 200%;
    color: map-get($paleta_de_colores , septimo);
}

.subrayado {
    text-decoration: underline 1px map-get($paleta_de_colores , sexto);
}

.fondoTurnos {
    background-color: rgb(12, 12, 12);
    font-family: 'Jost', sans-serif;
    text-align: center;
    padding: 10%;
}

.fontsize_Nav {
    font-size: 90%;
    color:rgb(175, 174, 174);
    font-family: 'Jost', sans-serif;
}

.fontsize_Nav:hover {
    color: map-get($paleta_de_colores , sexto);
}

.textoIndex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoBlanco {
    font-size: 300%;
    color:map-get($paleta_de_colores , septimo );
}