


/* VISTA TABLET */



@media only screen and (min-width: 768px) {

    .grid_home {
        grid-template-rows: 10.05% 33% 20% 30%;
        grid-template-columns: 100%;   
    } 
    
    .grid_registro {
        grid-template-rows: 10% 50% 30%;
        grid-template-columns: 100%;
    }

    .grid_recuperarPassword {
        grid-template-rows: 14.22% 53.05% 40%;
        grid-template-columns: 100%;
    }

    .grid_turnos {
        grid-template-rows: 10% 56% 35%;
        grid-template-columns: 100%;
    }
    
    .grid_productos {
        grid-template-rows: 8% 56% 35%;
        grid-template-columns: 100%;
    }

    .grid_sucursales {
        grid-template-rows: 8% 56% 35%;
        grid-template-columns: 100%;
    }


    /* ID */
    
    #sponsors {
        font-family: 'Sofia Sans', sans-serif;
        grid-area: sponsors;
        text-align: center;
        background-color:map-get($paleta_de_colores , sexto);
        padding-top: 1%;
        font-size: 120%;
    }
    
    #footerI {
        grid-area: pie_de_pagina;
        padding-top: 1.5%;
    }
    
    /* SIZES */

    .sizeIndex {
        width: 100%;
    }
    
    .sizeHome {
        font-size: 280% ;
        font-family: 'Jost', sans-serif;
    }
    
    .sizeLogoNav {
        width: 80%;
        display: flex;
        justify-content: center;
    }
    
    .sizeLinkH {
        text-decoration: none;
        font-family: 'Jost', sans-serif;
        color:map-get($paleta_de_colores , tercero);
        font-size: 110%;
        transition: width 0.2s;
    }
    
    .sizeLinkH:hover {
        font-size: 115%;
    }
    
    .sizeMenu {
        font-size: 110%;
        text-decoration: none;
        color:map-get($paleta_de_colores , tercero);
    }
    
    .sizeFotoSponsor1 {
        margin:1%;
        width: 25%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor1:hover {
        width: 30%;
    }
    
    .sizeFotoSponsor2 {
        margin:1%;
        width: 20%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor2:hover {
        width: 25%;
    }
    
    .sizeFotoSponsor3 {
        margin:1%;
        width: 25%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor3:hover {
        width: 30%;
    }
    
    .sizeIndex {
        width: 100%;
        padding-top:40%;
        padding-bottom:40%;
    }

    .sizeInput {
        text-align: center;
        width: 30%;
    }

    .sizeInputRP {
        text-align: center;
        width: 35%;
        padding: 0%;
        font-size: 200%;
        
    }

    .sizeinputReg {
        text-align: center;
        width: 30%;
        padding:0%;

    }

    .sizeFooter {
        font-size: 100%;
    }

    .size_fotoTurnos {
        padding-top: 9%;
        width: 70%;
    }

    .size_fotoProductos {
        padding-top: 5%;
        width: 50%;
    }

    .sizeTurnos {
        font-size: 100%;
        padding-top: 13%;
        padding-bottom: 10%;
    }
    
    .sizeTurnos1 {
        padding-top: 5%;
        font-size: 80%;
    }
    
    .size_mapa {
        width: 30%;
    }
    
    .size_sucursales {
        font-size: 80%;
    }

    
    /* PADDINGS */
    


    .paddingTH{
        padding-top: 3%;
    }
    
    .paddingFU {
        padding-top: 10%;
        font-size: 80%;
        font-family: 'Sofia Sans', sans-serif;
        text-align: center;
    }
    
    .paddingForm {
        padding-top: 2%;
    }
    
    .paddingFormR {
        padding-top: 2%;
    }

    .paddingFormRP {
        padding-top: 8%;
    }

    .padding_registro {
        padding-top: 5%;
    }
    
    .padding_sucursales{
        padding-top: 5%;
        padding-bottom: 4%;
    }
    
    .padding_sucursales_titulo{
        font-size: 90%;
        padding-top: 7%;
    }
    
    .texto_sucursales {
        font-size: 110%;
        padding-bottom: 8%;
        padding-top:12.5%;
    }


    /* BUTTONS */
    
    
    .navegacion li a:hover {
        color: rgb(255, 255, 255);
    }
    
    .botonInicio:hover {
        background-color: rgb(49, 53, 53);
    }
    
    .botonIngresar {
        background-color: rgb(49, 53, 53);   
    }
    
    .botonIngresar:hover {
        background-color:rgb(20, 20, 20);
    }

    .botonRecuperar {
        width: 10%;
        font-size: 120%;
    }
    
    .botonRegistro {
        width: 15%;
        font-size: 70%;
    }

    
    
    /* COLORES */
    
    .colorRojo{
        color:map-get($paleta_de_colores , cuarto);
    }
    
    .colorAzul{
        text-decoration: none;
        color:map-get($paleta_de_colores , quinto);
    }
    
    .colorNegro{
        color:map-get($paleta_de_colores , tercero);
        margin:0.5%;
    }

    /* FONTS */

    .fontFooter {
        font-family: 'Yellowtail', cursive;
        font-size: 150%;
    }

    .fontInicio {
        font-family: 'Jost', sans-serif;
        font-size: 300%;
    }

    .subrayado {
        text-decoration: underline 1px map-get($paleta_de_colores , tercero);;
    }

    .subrayadoR {
        text-decoration: underline 1px map-get($paleta_de_colores , tercero);
        padding-bottom: 2%;
        padding-top: 11%;
    }

    .textoPages {
        padding: 10%;
        font-size: 120%;
        font-family: 'Jost', sans-serif;
    }
    
    .textoPagesR {
        padding: 10%;
        font-size: 200%;
        font-family: 'Jost', sans-serif;
    }
    
    .textoPagesReg {
        padding-top: 10.5%;
        padding-bottom: 5%;
        font-size: 150%;
        font-family: 'Jost', sans-serif;
    }

    .ingresar_email {
        font-size: 200%;
    }

    .text_registro {
        font-size: 130%;
        padding-top: 1.9%;
    }

    

/* AREAS GRID */



    .navegacion {
        display: flex;
        justify-content:space-around;
        align-items:center;
        font-family: 'Sofia Sans', sans-serif;  
        color:map-get($paleta_de_colores , tercero); 
        background-color:map-get($paleta_de_colores , sexto);
        width: 100%;
        font-size: 22px;
    }
    
    .sucursales{
        grid-area: sucursales;
    }
    
    .formIniciarSesion {
        grid-area: formulario;
        text-align: center;
        background-color:map-get($paleta_de_colores , sexto);
        font-family: 'Jost', sans-serif;
        font-size: 90%;
        padding-top: 15%;
        padding-bottom: 5%;
        
    }

    .contenidoInicio {
        grid-area: contenido_inicio;
        padding: 15%;
        background-color:map-get($paleta_de_colores , sexto);
        text-align: center;
        font-family: 'Sofia Sans', sans-serif;
    }
    
    .footerF {
        justify-content: center;
        text-align: center;
        height: 20%;
        padding-top: 10%;
        padding-bottom: 5%;
        font-size: 90%;
        
    }

    .footerIndex {
        grid-area: redes;
        background-image: linear-gradient(to top,rgb(255, 255, 255),rgb(107, 172, 209) );
    }

    .textoIniciarSesion {
        padding: 10%;
        font-size: 50%;
        font-family: 'Jost', sans-serif;
    }

    .formRegistro {
        grid-area: registro;
        text-align: center;
        background-color:map-get($paleta_de_colores , sexto);
        font-family: 'Jost', sans-serif;
        font-size: 70%;
        padding-bottom: 15%;
        padding-top: 10%;
    }


    .productos {
        text-align: center;
        font-size: 60%;
        padding-top: 10%;
    }

    .texto_productos {
        padding-top: 10.3%;
        padding-bottom: 11.5%;
        font-size: 170%;
    }
    
    .textoProductos {
        padding: 0.5%;
        font-size: 140%;
    }

    .footerIndex1 {
        grid-area: redes;
        background-color:map-get($paleta_de_colores , sexto);
    }

    .formRecuperarPassword {
        grid-area: recuperar;
        text-align: center;
        background-color: map-get($paleta_de_colores , sexto);
        font-family: 'Jost', sans-serif;
        font-size: 50%;
        padding-top: 15%;
        padding-bottom: 7%;
        
    }
    

}



/* VISTA DESKTOP */



@media only screen and (min-width: 1024px) {

    .grid_home {
        grid-template-areas: "encabezado" "contenido_inicio" "sponsors" "carousel" "pie_de_pagina";
        grid-template-rows: 7% 22% 20% 28% 24%;
    }   
    
    .grid_index {
        grid-template-areas:"encabezado"
                            "textoIndex"
                            "formulario"
                            "pie_de_pagina";
        grid-template-rows: 11% 20% 50% 30%; 
    }
    
    .grid_registro {
        grid-template-areas: "encabezado" "registro" "pie_de_pagina";
        grid-template-rows: 10% 70% 28%;
    }

    .grid_recuperarPassword {
        grid-template-areas: "encabezado" "recuperar" "pie_de_pagina";
        grid-template-rows: 6% 50% 40%;
        grid-template-columns: 100%;
    }

    .grid_turnos {
        grid-template-areas: "encabezado" "turnos" "pie_de_pagina";
        grid-template-rows: 5% 50% 25%;
    }
    
    .grid_repuestos {
        grid-template-areas: "encabezado" "productos" "pie_de_pagina";
        grid-template-rows: 5% 83% 12.5%;
    }

    .grid_sucursales {
        grid-template-areas: "encabezado" "sucursales" "pie_de_pagina";
        grid-template-rows: 7% 50% 35%;
    }
    

    /* ID Y AREAS GRID*/
    

    #sponsors {
        font-family: 'Sofia Sans', sans-serif;
        grid-area: sponsors;
        text-align: center;
        font-size: 150%;
        background-color: rgb(12, 12, 12);
        color:rgb(175, 174, 174);
    }
    
    #footerArea {
        grid-area: pie_de_pagina;
        padding-top: 1%;
        color:rgb(175, 174, 174);
    }

    #footerI {
        grid-area: pie_de_pagina;
        padding-top: 1.5%;
    }

    #productos {
        grid-area: productos;
    }

    .sucursales{
        grid-area: sucursales;
        padding-top: 10%;
    }

    .grid_index {
        background-image: url(/assets/motos/sredit.png);
    }

    .fondoHome {
        background-image: url(/assets/fondo/fondosr.png);
        opacity: 92%;
    }

    /* SIZES */


    .fontsize_Nav {
        font-size: 140%;
    }

    .navbar_medio{
        flex-direction: column;   
        align-items: center;
    }

    .fotonav {
        width: 100%;
    }

    .posicionfoto{
        display: flex;
        justify-content: center;
    }

    .textoPages {
        padding: 5%;
        font-size: 100%;
        font-family: 'Jost', sans-serif;
    }
    
    .sizeIndex {
        width: 100%;
        padding:7%
    }
    
    .sizeHome {
        font-size: 280% ;
        font-family: 'Jost', sans-serif;
    }

    .sizeLogo {
        width: 60%;
    }

    .colorNavBar{
        display: flex;
        justify-content: center;
    }

    .sizeLinkH {
        text-decoration: none;
        font-family: 'Jost', sans-serif;
        color:map-get($paleta_de_colores , tercero);
        font-size: 110%;
        transition: width 0.2s;
    }
    
    .sizeLinkH:hover {
        font-size: 115%;
    }
    
    .sizeMenu {
        font-size: 110%;
        text-decoration: none;
        color:map-get($paleta_de_colores , tercero);
    }
    
    .sizeInputRP {
        font-size: 100%;
        text-align: center;
        width: 25%;
        padding: 0%;
    }

    .sizeInput {
        text-align: center;
        width: 25%;
    }

    .sizeinputReg {
        text-align: center;
        width: 20%;
        padding: 0%;
    }

    .sizeFotoSponsor1 {
        margin:1%;
        width: 20%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor1:hover {
        width: 26%;
    }
    
    .sizeFotoSponsor2 {
        margin:1%;
        width: 15%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor2:hover {
        width: 20%;
    }
    
    .sizeFotoSponsor3 {
        margin:1%;
        width: 20%;
        transition: width 0.2s;
    }
    
    .sizeFotoSponsor3:hover {
        width: 26%;
    }
    
    .size_mapa {
        width: 30%;
    }
    
    .size_sucursales {
        font-size: 150%;
    }

    .size_fotoTurnos {
        padding-top: 7%;
        width: 40%;
    }

    .sizeTurnos {
        font-size: 180%;
        padding-top: 1%;
        padding-bottom: 3%;
        color:rgb(175, 174, 174);
    }
    
    .sizeTurnos1 {
        padding-top: 5%;
        font-size: 130%;
        color:rgb(175, 174, 174);
    }

    .size_fotoProductos {
        padding-top: 5%;
        width: 25%;
    }


    /* PADDINGS */
    

    .paddingTH{
        padding-top: 1%;
    }
    
    .paddingFU {
        padding-top: 7%;
        font-family: 'Sofia Sans', sans-serif;
        text-align: center;
        font-size: 100%;
    }

    .paddingForm {
        padding-top: 2%;
    }
    
    .paddingFormR {
        padding-top: 2%;
    }

    .paddingFormReg {
        padding-bottom: 2%;
    }
    
    .padding_registro {
        padding-top: 2.6%;
    }

    .padding_sucursales{
        padding-top: 5%;
        padding-bottom: 4%;
        color:rgb(175, 174, 174);
    }
    
    .padding_sucursales_titulo{
        font-size: 120%;
        padding-top: 9%;
    }
    
    .texto_sucursales {
        font-size: 180%;
        padding-bottom: 7%;
        padding-top: 0.5%;
        color:rgb(175, 174, 174);
    }

    
    /* BUTTONS */
    
    
    .sizeNavBar li a:hover {
        color: map-get($paleta_de_colores, septimo )
    }
    
    .botonIngresar {
        background-color: map-get($paleta_de_colores, octavo );   
    }
    
    .botonIngresar:hover {
        background-color:map-get($paleta_de_colores, tercero );
    }

    .botonRecuperar {
        width: 9%;
        font-size: 80%;
    }

    .botonRegistro {
        width: 10%;
        font-size: 80%;
    }
    
    .fa-instagram:hover {
        background-color:map-get($paleta_de_colores , decimo);
        border-radius: 100%;
    }
    
    .fa-whatsapp:hover {
        background-color:map-get($paleta_de_colores , onceavo);
        border-radius: 100%;
    }
    
    .fa-facebook:hover {
        background-color:map-get($paleta_de_colores , doceavo);
        border-radius: 100%;
    }
    
    /* ESTILOS Y COLORES */
    

    .colorRojo{
        color:map-get($paleta_de_colores , cuarto);
    }
    
    .colorAzul{
        text-decoration: none;
        color:map-get($paleta_de_colores , quinto);
    }
    
    .colorNegro{
        color:map-get($paleta_de_colores , tercero);
        margin:0.5%;
    }
    
    .subrayadoR {
        text-decoration: underline 1px map-get($paleta_de_colores , tercero);
        padding-bottom: 3%;
    }

    .subrayado {
        text-decoration: underline 1px rgb(175, 174, 174);
        color:rgb(175, 174, 174);
    }
    
    .logoIndex {
        display: flex;
        width: 100%;
        padding: 20%;
    }
    
    .contenidoInicio {
        grid-area: contenido_inicio;
        padding: 15%;
        background-color: rgb(12, 12, 12);
        text-align: center;
        font-family: 'Sofia Sans', sans-serif;
        color:rgb(175, 174, 174);
    }


    .footerF {
        justify-content: center;
        text-align: center;
        font-size: 100%;
    }


    .fontFooterI {
        font-family: 'Yellowtail', cursive;
        font-size: 200%;
    }

    .fontFooter {
        font-family: 'Yellowtail', cursive;
        font-size: 220%;
        color:white;
    }

    .formIndex {
        grid-area: formulario;
        text-align: center;
        font-family: 'Sofia Sans', sans-serif;
        font-size: 150%;
        padding-top: 4%;
        padding-bottom: 1%;
    }

    .formRegistro {
        grid-area: registro;
        text-align: center;
        background-color: rgb(12, 12, 12);
        font-family: 'Jost', sans-serif;
        font-size: 150%;
        padding-top: 10%;
        
    }

    .formRecuperarPassword {
        background-color: rgb(12, 12, 12);
        grid-area: recuperar;
        font-size: 150%;
        padding-top: 10%;
        padding-bottom: 10%;
        color:rgb(175, 174, 174);
    }

    .recuperar {
        grid-area: recuperar;
        text-align: center;
        background-color: rgb(107, 172, 209);
        font-family: "Jost", sans-serif;
        
    }

    .productos {
        text-align: center;
        font-size: 60%;
        padding-top: 10%;
    }

    .texto_productos {
        padding-top: 4%;
        padding-bottom: 5.4%;
        font-size: 230%;
    }
    
    .textoProductos {
        padding-top: 1%;
        font-size: 200%;
    }

    .textoPagesR {
        padding: 4%;
        font-size: 100%;
        font-family: 'Jost', sans-serif;
    }

    .textoPagesReg {
        padding-top:1%;
        padding-bottom: 7%;
        font-size: 120%;
        font-family: 'Jost', sans-serif;
        color:rgb(175, 174, 174);
    }

    .ingresar_email {
        font-size: 100%;
    }

    .text_registro {
        padding-top: 2%;
        font-size: 100%;
        color:rgb(175, 174, 174);
    }

    .sucursales{
        grid-area: sucursales;
    }
    
    // NUEVO


    .textoBlanco {
        padding-top: 2%;
        font-size: 300%;
        color:map-get($paleta_de_colores , septimo );
        font-family: 'Jost', sans-serif;
    }

    .carousel {
        grid-area: carousel;
        width: 50%;
        height: 70%;
    }

    .carouselText {
        display: flex;
        justify-content: center;    
    }
    

    .alinear{
        background-color: rgb(12, 12, 12);
        display: flex;
        justify-content: center;
    }

}


